*{
    background-color: #f1f0f0;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width:100%;
}

.price-input {
    width:100%;
    display: inline-flex;

}

.field {
    display: inline-flex;
}


input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height:18px;
    
    border-radius: 0;
}
input.btn {
    padding: 0;
    margin-bottom: 0;
    background-color: #f1f0f0;
    border: 1px solid rgb(173, 172, 172);
    border-radius: 5px;
}
input.btn:hover {
    background-color: white;
}


.logo{
    color: rgb(255, 140, 0);
    text-decoration-line: none;   
    font-family: 'Alfa Slab One'; 
    font-size: 40px;
    margin-right: 144px;
}
.seperation{
    display: flex;
    margin-top: 50px;
}
.searchbar{
    margin-right: 50px;
}
.searchbar
{
    display: flex;
    width: 630px;
    height: 26px;
    background: white;
    align-items: center;
    
    padding: 10px 5px;
    margin-top: 0px;

    border: 1px solid rgb(224, 223, 221);


    border-radius: 50px;
}
input
{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 17px;
    
    border-radius: 50px;
    color:#cac1c1;
    font-weight: 500;
}

.search:focus{
    outline:none;
}
.material-icons
{
    font-size:48px;
    color: rgb(255, 145, 0);
}
i{
    background: none;
}




button{
    border: 0;

    background-color: white;
    
    width: 60px;
    height: 38px;
    cursor: pointer;
    padding-right: 100px;
    
}

button.sir{
    border-right: 1px solid rgb(219, 216, 212);
    padding-right: 0px;
}
button.men{
    padding-right: 20px;
    padding-left: 15px;
}
button .material-icons:hover {
    color: rgb(255, 60, 0);
}

.btn{
    border:none;
    outline:none;
    margin-bottom:20px;
    margin-top:10px;
    margin-left:10px;
    padding:12px 0px;
    
    background-color:white;
    cursor: pointer;
}

nav{
    height:100px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: inline-flex;

}

.searchbar {
    margin-top: 20px;
}
a.logo {
    margin-top: 18px;
    margin-right: 200px;
}


nav ul{
    float: right;
    margin-right: 0px;
    margin-left: 160px;
    margin-top: 26px;
}
nav ul li{
    display: inline-block;
/* line-height: 100px;
    margin: 0 20px;
    font-weight: normal;
    */
    margin-right:0px;
    border-right: 0px;
}
li.cart {
    width:20px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;

}

li.cart button {
    width: 80px;
    background: none;
    padding-right: 0px;
    padding-left: 0px;
}

.home_pages button {
    background: none;
    padding-right: 0px;
    color: rgb(149, 145, 145);
}


.home_pages button a {
    color: rgb(149, 145, 145);
    text-decoration: none;
}

.home_pages {
    display: inline-block;
    margin-left: 58px;
    margin-top: 10px;
    

}


.card-content{
    display:block;
    justify-content:end;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    margin-right: 60px;
    margin-left: 0px;
    margin-top: 6px;
}

.product {
    float: left;
    text-align: center;
    background-color: white;
    padding:0px;
    margin: 10px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 0px;
    width: 18%;
    height: 430px;
    border-radius: 6px;
    
    display: none;
}
.show {
    display: block;
}
.prod{
    background-color: white;
}

.product_image {
    background-color: white;
    padding-left: 10px;
    padding-bottom: 25px;
}
.name{
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.name:hover{
    text-decoration-line: underline;  
}
.details{
    font-size: 14px;
    color: rgb(149, 145, 145);
    padding-top: 0px;
    margin-top: 10px;

}
.price{
    margin-bottom:0px;
}
.store{
    font-size: 14px;
    color: rgb(149, 145, 145); 
    padding-top: 0px;
    margin-top:6px; 
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.titles {
    display: block;
    margin-left:10px;
}

p.filt {
    font-size: 20px;
    margin-left: 60px;
}
.filters{
    margin-top:0px;
    width: 320px;

}
.filters p {
    margin-left: 90px;
    font-weight: lighter;
}
.filters input {
    margin-left: 90px;
}
.filter-condition {
    display: flex;

    margin-top: 70px;



}


#select {

    border: 1px solid rgb(130, 130, 129);
    height: 42px;
    width: 158px;
    border-radius: 3px;
    color: rgb(77, 77, 77);
    margin-right: 20px;
}
option {
    color: rgb(77, 77, 77);
border-color: rgb(198, 196, 193) ;
border-radius: 0;
background-color: white;
height: 100px;
}
#select:hover {
    background: white;
}
#select:checked::after{
    background: white;
}

.pagination{
    display: flex;
    justify-content: end;
    text-align: center;
    margin: 0px 30px 0px;
    user-select: none;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 450px;
}

.pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1/10%);
}
.pagination li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
    background: none;
}

.previous-page, .next-page{
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}
.previous-page:hover{
    transform: translateX(-5px);
}
.next-page:hover{
    transform: translateX(5px);
}
.current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.active{
    background: #0AB1CE;
}

.disable{
    background: #ccc;
}